﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="palindrome.aspx.cs" Inherits="BonusAssignment1.WebForm1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <label>enter:</label>
        <asp:TextBox runat="server" ID="userinput"></asp:TextBox>
    <asp:RequiredFieldValidator ID="xaxisrequired" controlTovalidate="userinput"  runat="server" ErrorMessage="required" ></asp:RequiredFieldValidator>
    <asp:Button runat="server" ID="myButton" OnClick="Button_Click" Text="Submit "/>
    <br />

    <div id="result" runat="server"></div>
       

</asp:Content>
